/***** BASE STYLES *****/

html {
    height: 100%;
    width: 100%;
}

body {
    color: #323040;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#about,
#work,
#contact {
    background-color: #f9f9fa;
    overflow: auto;
}

main {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.push {
  background-color: #f9f9fa;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    float: left;
    padding-left: 5%;
    width: 600px;
}

.third-width {
    float: left;
    padding-left: 4%;
    width: 400px;
}

/***** HEADER *****/

#landing {
    height: 100%;
    background-image: url("../img/ocean.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto;
    padding-top: 0.05%;
}

#landing h1,
.sub h1 {
    color: 	#241C3A;
    font-family: 'Great Vibes', serif;
}

#landing h1 {
    font-size: 80px;
    margin-bottom: 0;
    padding: 0;
}

#landing nav {
    font-size: 30px;
    text-align: center;
}

#landing nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #332973;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    padding-left: 31px;
    padding-right: 31px;
}

#sig span,
.sub span {
  color: #241C3A;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: overline;
}

#sig span {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.sub {
    background-color: #323040;
    border-bottom: 2px solid #323040;
    height: 100px;
  }

.sub a {
    text-decoration: none;
}

.sub h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin: 10px 0 0 10px;
}

.sub sig {
    float: left;
}

.sub span {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 9%;
    margin-top: 0;
    padding-top: 0;
}

#desktop li {
    color: #FFFFFF;
    float: right;
    padding: 20px 10px;
}

.sub nav,
.sub nav a:hover,
.sub nav a:link,
.sub nav a:visited {
    color: #FFFFFF;
}

/***** ABOUT *****/

#about .full-width {
    padding: 1% 0;
}

#about h2 {
    color: #241C3A;
    font-size: 36px;
    text-align: center;
}

#about img#contact-img,
#about-tablet img#contact-img {
    border: 2px solid #241C3A;
    margin: auto;
    margin-left: 17%;
    width: 65%;
}

#about p {
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
}

/***** WORK *****/

#work {
    text-align: center;
}

#work .full-width {
    padding: 55px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 1.5;
    width: 190px;
    margin: 0 auto;
}

#work p {
    color: #332973;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
  padding-top: 6%;
  padding-bottom: 0;
  background-color: #f9f9fa;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul,
#contact a,
#contact p {
    padding-left: 30%;
}

#contact h2 {
    font-size: 32px;
    line-height: 1;
}

#contact #email-header,
#contact p {
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 2;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-left: 25px;
    padding-right: 25px;
}

iframe {
  margin: 0;
  padding: 0;
}

/**** FOOTER ****/

#other {
    border-top: 1px dotted #323040;
    font-size: 15px;
    margin: auto;
    padding-left: 0;
    padding-bottom: 0;
    text-align: center;
    width: 50%;
}

#other span {
    color: 	#6856B2;
    font-family: 'Great Vibes', serif;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: overline underline;
}

/**** Media Queries ****/

@media only screen and (max-width: 480px) {

  .third-width {
      float: left;
      margin-bottom: 50px;
      padding-left: 0.5%;
      padding-right: 0.7%;
  }

  #landing h1 {
    font-size: 50px;
  }

  #sig span {
    font-size: 15px;
  }

  #landing li {
    font-size: 17px;
  }

  #landing ul {
    font-weight: bold;
    text-align: center;
    border: 1px dotted #323040;
    padding: 0 0 10px 0;
  }

  .sub h1 {
    font-size: 30px;
    margin: 0 auto;
  }

  #mobile li {
    padding-left: 0;
    margin-left: 0;
    margin-right: 10px;
    font-size: 12px;
  }

  #desktop,
  #tablet,
  #work-tablet,
  #contact-tablet {
    display: none;
  }

  #mobile {
    display: block;
  }

  #mobile .full-width {
    text-align: center;
  }

  #mobile h1 {
      padding-bottom: 0;
      padding-top: 20px;
  }

  iframe {
    margin: auto;
    padding: 5%;
    width: 80%;
  }

  #about img#contact-img {
    margin-bottom: 8%;
  }


  #contact #socialmedia-header {
    padding-bottom: 10%;
  }

  #contact h2,
  #contact #email-header,
  #contact #socialmedia-header,
  #contact ul,
  #contact a,
  #contact p {
      padding-left: 0;
      padding-right: 50px;
  }

  #contact h2 {
      font-size: 25px;
      line-height: 2;
  }

  #contact #email-header,
  #contact p {
      font-size: 15px;
      font-weight: normal;
      line-height: 2;
      margin: -30px 0 10px 0;
  }

  #contact #socialmedia-header {
      font-weight: bold;
      font-size: 13px;
      line-height: 2;
  }

  #contact ul img {
      font-size: 25px;
      padding-left: 19px;
      padding-right: 19px;
  }

  #other {
    font-size: 15px;
    padding-bottom: 1%;
  }

  #other span {
    font-size: 19px;
  }

  #work .third-width {
    margin-bottom: 50px;
  }

  #about-tablet {
    display: none;
  }

}

@media only screen and (min-width: 481px) and (max-width: 1324px) {

  #about,
  #mobile,
  #desktop,
  #work,
  #contact {
    display: none;
  }

  #about-tablet h2 {
    text-align: center;
    padding-top: 4%;
  }

  #about-tablet p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  #about-tablet img#contact-img {
    width: 40%;
    margin: 2% 0 3% 30%;
  }

  #landing h1 {
    font-size: 50px;
  }

  #sig span {
    font-size: 15px;
  }

  #landing li {
    font-size: 24px;
  }

  #landing ul {
    font-weight: bold;
    text-align: center;
    border: 1px dotted #323040;
    padding: 0 0 10px 0;
  }

  .sub h1 {
    font-size: 30px;
    margin: 0 auto;
  }

  #tablet li {
    padding-bottom: 10%;
    padding-left: 0;
    margin-left: 0;
    margin-right: 10px;
    font-size: 20px;
  }

  #tablet .full-width {
    text-align: center;
  }

  #tablet h1 {
    padding-bottom: 0;
    padding-top: 20px;
  }

  #other {
    font-size: 15px;
    padding-bottom: 1.5%;
  }

  #work-tablet {
    font-size: 18px;
  }

  #work-tablet .third-width {
    margin: 10% 2.5% 10% 2%;
    text-align: center;
    width: 350px;
  }

  #work-tablet .half-width {
    padding-left: 25%;
    text-align: center;
    width: 50%;
  }

  #contact-tablet iframe {
    padding-bottom: 3%;
    padding-top: 5%;
    width: auto;
  }

  #contact-tablet {
    text-align: center;
  }

  #contact-tablet h2,
  #contact-tablet #email-header,
  #contact-tablet #socialmedia-header,
  #contact-tablet ul,
  #contact-tablet a,
  #contact-tablet p {
      line-height: 2;
      padding-left: 5%;
      padding-right: 5%;
  }

  #contact-tablet h2 {
      font-size: 30px;
      font-weight: bold;
  }

  #contact-tablet #email-header,
  #contact-tablet p {
      font-size: 19px;
      font-weight: normal;
      line-height: 3;
      margin: -30px 0 10px 0;
  }

  #contact-tablet #socialmedia-header {
      font-weight: bold;
      font-size: 19px;
      line-height: 3;
  }

  #contact-tablet ul img {
      font-size: 25px;
      margin-left: 5%;
      padding-right: 5%;
  }

}

@media only screen and (min-width: 1324px) {

  #mobile,
  #tablet {
    display: none;
  }

  #about-tablet,
  #work-tablet,
  #contact-tablet {
    display: none;
  }

}
