/***** BASE STYLES *****/

body {
    color: #323040;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 100%;
}

li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#about,
#work,
#contact {
    height: 700px;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    float: left;
    text-align: center;
    padding-left: 5%;
    width: 600px;
}

.third-width {
    float: left;
    padding-left: 4%;
    width: 400px;
}

/***** HEADER *****/

header {
    height: 700px;
    background-image: url("../img/ocean.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto;
    padding-top: 0.05%;
}

header h1 {
    color: 	#241C3A;
    font-family: 'Great Vibes', serif;
    font-size: 80px;
    margin-bottom: 0;
    padding: 0;
}

nav {
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #332973;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 41px;
    padding-right: 80px;
}

#sig span {
  color: #241C3A;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  text-decoration: overline;
}

header {

}

/***** ABOUT *****/

#about .full-width {
    padding: 2% 0;
}

#about h2 {
    color: #241C3A;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

#about img#contact-img {
    border: 12px solid #241C3A;
    margin-top: 1%;
    width: 60%;
}

#about p {
    font-size: 19px;
    line-height: 1.5;
    margin-top: 0;
    padding: 0 25px 0 48px;
    text-align: justify;
}

/***** WORK *****/

#work {
  background-color: #ffc4ca;
  text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 1.5;
    width: 190px;
    margin: 0 auto;
}

#work p {
    color: #332973;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
  background-color: #f9f9fa;
}


#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul,
#contact a {
    padding-left: 40%;
}

#contact #envelope {
    padding-right: 10px;
}

#contact h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 1;
}
#contact #email-header{
    font-size: 28px;
    font-weight: normal;
    line-height: 2;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    color: #332973;
    font-weight: bold;
    font-size: 24px;
    line-height: 2;
}

#contact a {
    text-decoration: none;
    color: #cda590;
    font-weight: bold;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

form {
  clear: both;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 70%;
}
