/***** BASE STYLES *****/

body {
    color: #323040;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 100%;
}

li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#about,
#work,
#contact {
    height: 490px;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    float: left;
    padding-left: 5%;
    width: 600px;
}

.third-width {
    float: left;
    padding-left: 4%;
    width: 400px;
}

/***** HEADER *****/

#landing {
    height: 700px;
    background-image: url("../img/ocean.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto;
    padding-top: 0.05%;
}

#landing h1,
#sub h1 {
    color: 	#241C3A;
    font-family: 'Great Vibes', serif;
}

#landing h1 {
    font-size: 80px;
    margin-bottom: 0;
    padding: 0;
}

#landing nav {
    font-size: 30px;
    text-align: center;
}

#landing nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #332973;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    padding-left: 31px;
    padding-right: 20px;
}

#sig span,
#sub span {
  color: #241C3A;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: overline;
}

#sig span {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

#sub {
    background-color: #323040;
    border-bottom: 2px solid #323040;
    height: 100px;
  }

#sub a {
    text-decoration: none;
}

#sub h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin: 10px 0 0 10px;
}

#sub sig {
    float: left;
}

#sub span {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 9%;
    margin-top: 0;
    padding-top: 0;
}

#sub li {
    color: #FFFFFF;
    float: right;
    padding: 20px 10px;
}

#sub nav,
#sub nav a:hover,
#sub nav a:visited {
    color: #FFFFFF;
}

/***** ABOUT *****/

#about .full-width {
    padding: 1% 0;
}

#about h2 {
    color: #241C3A;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

#about img#contact-img {
    border: 2px solid #241C3A;
    margin: auto;
    margin-left: 17%;
    width: 65%;
}

#about p {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 0;
    padding: 0 25px 0 25px;
    text-align: justify;
}

/***** WORK *****/

#work {
    text-align: center;
}

#work .full-width {
    padding: 55px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 1.5;
    width: 190px;
    margin: 0 auto;
}

#work p {
    color: #332973;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
  background-color: #f9f9fa;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul,
#contact a {
    padding-left: 40%;
}

#contact #envelope {
    padding-right: 10px;
}

#contact h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 1;
}
#contact #email-header{
    font-size: 28px;
    font-weight: normal;
    line-height: 2;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    color: #332973;
    font-weight: bold;
    font-size: 24px;
    line-height: 2;
}

#contact a {
    text-decoration: none;
    color: #cda590;
    font-weight: bold;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

form {
    height: 70%;
}

/**** FOOTER ****/

#other {
    background-color: #FFFFFF;
    border-top: 1px dotted #323040;
    font-size: 15px;
    margin: auto;
    padding-left: 0;
    padding-bottom: 0;
    text-align: center;
    width: 50%;
}

#other span {
    color: 	#ffc4ca;
    font-family: 'Great Vibes', serif;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: overline underline;
}
